@import "tailwindcss";

@theme {
  --border-color-accordion-accent: #A789AB;
  --border-width-accordion: 1px;
  --border-radius-accordion: 8px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@custom-variant dark (&:where(.dark, .dark *));
